.venv/
.env
save_data
dataset
dataset 2
pages
S-BIAD1518
TestCode
20xRenamed
.DS_Store
*.pkl
*.pyc
*.aux
*.gz
*.log
*.pdf
*.fls
*.bbl
*.fls
*.bcf
*.out
*.xdv
*.xml
*.pickle
*.fdb_latexmk
*.eps
*.blg*
*.synctex*